/*Begin dark theme!*/
    a {
      font-style: italic;
      color: lightgray;
    }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }

  body {
    background-color: #1f1f1f;
  }

  tr:nth-child(even) {
    background-color: #232426;
  }

  tr:nth-child(odd) {
    background-color: #282828;
  }

  p,h2,h3 {
    color: lightgray;
  }
  /*End dark theme!*/
